<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/save">

        <table>
            <tr> 
            <td> Make your Wish :  <input type="text" name="usertxt"/> </td>
            </tr>
    
           
            <tr>
            <td colspan="2"> <input type='submit'/> </td>
            </tr>
        </table>
    </form>
    

    <div ><button onclick="window.location.href = '/viewmessages';">view messages!!</button> 
        </div>


    
</body>
</html>